@model BrowserView

<div class="browser">
    <header>
        <h1>browse apps</h1>
    </header>
    <div>
        <div class="app_list">
            @foreach (var item in Model.Items)
            {
                <a asp-page="@Model.TargetPage" asp-route-id="@item.Info.Id">
                    <div class="item">
                        <div class="icon_wrapper" style="background-image:url('@item.Info.PhotoURL');"></div>
                        <div class="vertical_centre_wrapper">
                            <h2 class="name">@item.Info.Name</h2>
                        </div>
                        <div class="vertical_centre_wrapper">
                            <p>Reviews: @item.Reviews.Count()</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>